
@{
    ViewBag.Title = "Thêm mới menu";
    Layout = "~/Areas/Quantri/Views/Shared/_LayoutAdmin.cshtml";
}
@model CucbanquyenModel.Models.Menu
<div class="">
    <div class="row">
        <div class="col-md-12">
            <div class="page-header">
                <h1 class="text-uppercase">@ViewBag.Title</h1>
            </div>
            <div class="">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    @Html.HiddenFor(x => x.menuId)
                    @Html.HiddenFor(x => x.isTrash)
                    @Html.HiddenFor(x => x.parentId)
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.menuName, new { @class = "control-lable" })
                                @Html.TextBoxFor(x => x.menuName, new { @class = "form-control", @placeholder = "Nhập tên.." })
                                @Html.ValidationMessageFor(x => x.menuName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.menuUrl, new { @class = "control-lable" })
                                @Html.TextBoxFor(x => x.menuUrl, new { @class = "form-control", @placeholder = "Nhập url.." })
                                @Html.ValidationMessageFor(x => x.menuUrl, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.sortOrder, new { @class = "control-lable" })
                                @Html.TextBoxFor(x => x.sortOrder, new { @class = "form-control number", @type = "number" })
                                @Html.ValidationMessageFor(x => x.sortOrder, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                @Html.LabelFor(x => x.languageId, new { @class = "control-lable" })
                                @Html.DropDownListFor(x => x.languageId, null, new { @class = "form-control" })
                                @Html.ValidationMessageFor(x => x.languageId, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Lưu dữ liệu</button>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
@section scriptsA {
    <script>

    </script>
}





